.div-album {
  align-items: center;
  background-image: url('../images/background.png');
  background-position: bottom;
  background-size: cover;
  display: flex;
  height: 200px;
  justify-content: flex-start;
  left: 0;
  padding-left: 300px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.album-img {
  margin-right: 40px;
  width: 170px;
}

.fav-list {
  border-radius: 13px;
}

.album-info {
  font-size: 20px;
}

.page-album {
  height: 100%;
}

.album-container {
  background-attachment: fixed;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

@media ( max-width : 600px ) {

  .div-album {
    height: 120px;
    justify-content: space-around;
    margin-right: 0;
    padding-left: 0;
  }

  .album-img {
    margin-left: 40px;
    margin-right: 0;
    width: 110px;

  }


  .isplay {
    width: 60px;
  }

  .album-container {
    background-attachment: unset;

  }

  .album-info {
    display: none;
  }
}

@media ( min-width : 600px ) {

  .isplay {
    display: none;
  }

}
