.fav {
  background-color: rgba(0, 0, 0, 0.918);
  min-height: 100vh;
}

.fav-title h1 {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0 0 10px black;
  color: rgba(8, 8, 26, 0.958);
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
}

.fav-title {
  align-items: start;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.card-container-fav {
  margin-top: 100px;
}

@media ( max-width : 667px ) {

  .fav-art {
    border: 5px solid rebeccapurple;
    width: 100px;
  }

  .fav-title, h4, h5, h1 {
    font-size: 14px;
  }

  .card-container-fav {
    margin-top: 95px;
  }

}

@media ( min-width : 600px ) {

  .isplay {
    display: none;
  }

  .menu-sand {
    display: none;
  }

  .fav-art {
    margin-right: 40px;
    width: 170px;
  }

  .track-title {
    display: none;
  }

  .card-container-fav {
    margin-top: 200px;
  }
}
