.div {
  align-items: center;
  background-image: url('../images/background.png');
  background-position: top;
  display: flex;
  height: 200px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.main {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.form {
  display: flex;
  width: 40%;
}

.search-button {
  background-color: rgba(8, 8, 26, 0.975);
  border-radius: 23px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin-left: 20px;
  text-transform: uppercase;
  width: 114px;
}

.search-button:enabled {
  background-color: black;
  border: 2px solid black;
}

.search-button:disabled {
  background-color: rgba(0, 0, 0, 0.547);
  border: 2px solid rgba(0, 0, 0, 0.547);
}

::placeholder {
  color: rgba(0, 0, 0, 0.544);
  font-size: 16px;
  text-align: center;
}

.search-return {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.t-result {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.no-album {
  color: rgba(240, 248, 255, 0.665);
  height: 100vh;
  margin-top: 50%;
}

.card-container {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
  padding-bottom: 30px;
  padding-top: 200px;
}

.card-name {
  background-color: rgba(0, 0, 0, 0.498);
  font-weight: 200;
  width: 22;
}

.carousel-control-prev, .carousel-control-next {
  margin-left: 20px;
  margin-right: 20px;
}

.cos {
  background-color: black;
  cursor: pointer;
  margin: 20px;
  padding-left: 100px;
  padding-right: 100px;
  width: 35rem;
}

.menu-sand {
  display: none;
}


@media ( max-width : 667px ) {

  .main {
    padding-left: 0;
  }

  .cos {
    padding-left: 0;
    padding-right: 0;
    width: 20rem;
  }

  .div {
    height: 100px;

  }

  .card-container {
    min-height: 0;
    padding-top: 100px;
  }

  .menu-sand {
    background-color: rgba(0, 0, 0, 0.547);
    color: white;
    display: block;
    height: 40px;
    width: 40px;
  }

  .menu-sand:hover {
    background-color: green;
  }

  .form {
    display: flex;
    width: 85%;
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.544);
    font-size: 12px;
    text-align: center;
  }


}
