.header-component {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  position: fixed;
  width: 280px;
  z-index: 2;
}

nav {
  display: flex;
  flex-direction: column;
}

.logo-header {
  padding: 0 30px;
  width: 90%;
}

.link {
  color: white;
  margin: 20px;
  text-decoration: none;
}

.link:hover {
  color: green;
}

.link i {
  margin-right: 20px;
}

.loading-header {
  width: 29px;
}

.header-component h2 {
  display: none;
}

.user-info img {
  border: 2px solid white;
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.user-info {
  align-items: center;
  color: #fdfdff;
  display: flex;
}
