.fav-card-container {
  background-color: rgba(255, 255, 255, 0.543);
  border-radius: 10px;
  box-shadow: 0 0 19px black;
  color: black;
  margin-bottom: 50px;
  margin-top: 20px;

}

.fav-card-container ul {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-top: 40px;
}

audio {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 0 50px black;
  padding: 10px;
}

.fav-card-container li {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

.fav-card-container audio {
  margin: 10px;
}

.favorite, .unfavorite {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-left: 10px;
  width: 26px;
}

.favorite {
  background-image: url('../images/redHeart.png');
}

.unfavorite {
  background-image: url('../images/enptyHeart.png');
}

.my-checkbox {
  display: none;
}


@media ( max-width : 600px ) {

  .fav-card-container {
    background-color: rgba(69, 76, 79, 0.589);
    margin-right: 0;
    padding: 0;
    width: 340px;

  }

  .fav-card-container li {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    scroll-snap-align: center;
    transform: translateX(-10%);
    width: 100%;
  }

  .fav-card-container img {
    position: relative;

  }

  .fav-isplay {
    display: none;
  }


  .favorite {
    margin-right: 10px;
  }

  .unfavorite {
    margin-right: 10px;
  }

  .fav-card-container ul {
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    overflow: auto;
    overflow-x: scroll;
    scroll-snap-stop: normal;
    scroll-snap-type: x mandatory;
  }

  .fav-card-container label {
    display: flex;
    padding-bottom: 10px;
  }

  .card-max-display {
    display: none;
  }

}

@media ( min-width : 600px ) {

  .card-track-art {
    display: none;
  }

  .card-min-display {
    display: none;
  }

}
