.card-scroll-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;

}

.card {
  background-color: #000000e4;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  transition: 1s;
}

.card:hover {
  background-color: rgb(69, 64, 55);
  color: rgb(8, 8, 8);
  cursor: auto;
  transition: 1s;
}


.ir {
  color: rgb(255, 254, 254);
  text-decoration: none;
}

.ir:hover {
  color: black;
}
