.favorite {
  background-image: url('../images/redHeart.png');
  background-size: cover;
  content: '';
  display: inline-block;
  height: 22px;
  width: 26px;
}

.unfavorite {
  background-image: url('../images/enptyHeart.png');
  background-size: cover;
  content: '';
  display: inline-block;
  height: 23px;
  width: 26px;
}

.my-checkbox {
  display: none;
}
