/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
} */

body {
  font-family: 'Epilogue', sans-serif;
}

.tutorial {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: rgba(240, 248, 255, 0.87);
 cursor: pointer;
}

.tutorial-text {
  cursor: pointer;
  position: fixed;
  top: 250px;
  left: 13px;
  z-index: 3;
  width: 200px;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 20px;
}

.tutorial-text span {
  color: red;
}